$base-bg-color: #f8f8f8;

html,
body {
  direction: rtl;
  background-color: $base-bg-color;
  font-family: Sahel VF;
  height: 100vh;
  margin: 0;
}

.lDirection {
  direction: ltr;
}

select {
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 3px;
}

option {
  font-size: large;
}
