/* styling checkbox */

// placeholder selector
%Dimensions {
  width: 17px;
  height: 17px;
}

.checked {
  margin-top: 4.5px;
  accent-color: green;
}

input[type="checkbox"] {
  @extend %Dimensions;
}
