$baseBgColor: #f8f8f8 !default;
$baseBgColor2: rgb(241, 241, 241) 8 !default;
$icon-color: orange !default;
$border-popup: #ccc !default;
$a-color: #000 !default;
$a-hover: #cfe6e3 !default;
$bg: #cfe6e3 !default;
$borderColor: #b1d6d1 !default;
$Color: #288873 !default;
$bgHover: rgb(173, 233, 229) !default;
$borderHover: #a4fae0 !default;
$btn-color: #ffffff !default;
$select-bg: #f1f1f1 !default;
$select-color: #292929 !default;
