.dark-theme {
  background-color: rgb(31, 31, 31);

  .all {
    background-color: #6e6e6e;
  }

  thead {
    --bs-table-bg: #406a65;
  }

  .table {
    --bs-table-bg: #6e6e6e;
  }

  .table-hover {
    --bs-table-hover-bg: #7e7e7e;
  }

  .btn-action {
    background-color: #7e7e7e;
  }

  .fa-circle-info:hover {
    color: rgb(213, 213, 213);
  }

  select {
    background-color: #444444;
    color: #e1e1e1;
  }

  .button-45 {
    background-color: #214d47;
    border: 1px solid #b1d6d1;
    color: #59c4ad;
  }

  .button-45:hover {
    background-color: rgb(52, 126, 121);
    border-color: #a4fae0;
  }

  .popup {
    --bs-table-hover-bg: #535353;
    border: 1px solid #ccc;
  }

  .popup a {
    color: #9b9b9b;
  }

  .popup a:hover {
    background-color: #444847;
  }
}
