$margin : 7px;

@mixin direction($dir) {
  direction: $dir;

  .button-45 {
    @if $dir == rtl {
      margin-right: $margin;
    } @else {
      margin-left: $margin;
    }
  }

  .popup {
    @if $dir == rtl {
      left: 45px;
    } @else {
      left: 1380px;
    }
  }
}

.rDirection {
  @include direction(rtl);
}

.lDirection {
  @include direction(ltr);
}
