@use "./style.scss";
@use "./light.scss" with (
  $baseBgColor: rgb(31, 31, 31),
  $baseBgColor2: #6e6e6e,
  $icon-color: rgb(213, 213, 213),
  $border-popup: #ccc,
  $a-color: #000,
  $a-hover: #bbbbbb,
  $bg: #214d47,
  $borderColor: #b1d6d1,
  $Color: #59c4ad,
  $bgHover: rgb(52, 126, 121),
  $borderHover: #a4fae0,
  $btn-color: #7e7e7e,
  $select-bg: #444444,
  $select-color: #e1e1e1
);

thead {
  --bs-table-bg: #406a65;
}

.table {
  --bs-table-bg: #606060;
}

.table-hover {
  --bs-table-hover-bg: #666666;
}

.popup {
  --bs-table-hover-bg: #828282;
}
