@use "./style.scss";
@import "./colorVariables";

html,
body {
  background-color: $baseBgColor;
}

.all {
  background-color: $baseBgColor2;
}

.fa-circle-info:hover {
  color: $icon-color;
}

thead {
  --bs-table-bg: #cfe6e3;
}

.table {
  --bs-table-bg: #f5f5f5;
}

.table-hover {
  --bs-table-hover-bg: #e5f3ef;
}

.btn-action {
  background-color: $btn-color;
}

select {
  background-color: $select-bg;
  color: $select-color;
}
.button-45 {
  background-color: $bg;
  border: 1px solid $borderColor;
  color: $Color;
}

.button-45:hover {
  background-color: $bgHover;
  border-color: $borderHover;
}

.popup {
  --bs-table-hover-bg: #ececec;
  border: 1px solid $border-popup;

  a {
    color: $a-color;
  }

  a:hover {
    background-color: $a-hover;
  }
}
