@use "./style.scss";

$colors: (
  "baseBgColor": #f8f8f8,
  "baseBgColor2": rgb(241, 241, 241) 8,
  "icon-color": orange,
  "border-popup": #ccc,
  "a-color": #000,
  "a-hover": #cfe6e3,
  "bg": #cfe6e3,
  "borderColor": #b1d6d1,
  "Color": #288873,
  "bgHover": rgb(173, 233, 229),
  "borderHover": #a4fae0,
  "btn-color": #d4d4d4,
  "select-bg": #f1f1f1,
  "select-color": #292929,
);

html,
body {
  background-color: map-get($colors, "baseBgColor");
}

.all {
  background-color: map-get($colors, "baseBgColor2");
}

.fa-circle-info:hover {
  color: map-get($colors, "icon-color");
}

thead {
  --bs-table-bg: #cfe6e3;
}

.table {
  --bs-table-bg: #f5f5f5;
}

.table-hover {
  --bs-table-hover-bg: #e5f3ef;
}

.btn-action {
  background-color: map-get($colors, "btn-color");
}

select {
  background-color: map-get($colors, "selecet-bg");
  color: map-get($colors, "select-color");
}
.button-45 {
  background-color: map-get($colors, "bg");
  border: 1px solid map-get($colors, "borderColor");
  color: map-get($colors, "Color");
}

.button-45:hover {
  background-color: map-get($colors, "bgHover");
  border-color: map-get($colors, "borderHover");
}

.popup {
  --bs-table-hover-bg: #ececec;
  border: 1px solid map-get($colors, "border-popup");

  a {
    color: map-get($colors, "a-color");
  }

  a:hover {
    background-color: map-get($colors, "a-hover");
  }
}
