@use "sass:map";
@use "./base";
@use "./table";
@use "./icon";
@use "./checkbox";

// button style with map
$colors: (
  "bg": #cfe6e3,
  "borderColor": #b1d6d1,
  "Color": #288873,
  "bgHover": rgb(173, 233, 229),
  "borderHover": #a4fae0,
);

.button-45 {
  align-items: center;
  background-color: map.get($colors, "bg");
  border: 1px solid map.get($colors, "borderColor");
  border-radius: 11px;
  box-sizing: border-box;
  color: map.get($colors, "Color");
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  padding: 2px 12px;
  margin-right: 7px;
  margin-bottom: 15px;
}

.button-45:hover {
  background-color: map.get($colors, "bgHover");
  border-color: map.get($colors, "borderHover");
}

/* styling popup */
@mixin PopUp {
  display: none;
  position: absolute;
  top: 0px;
  left: 45px;
  --bs-table-hover-bg: #ececec;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5%;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 2px;
  }

  a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    border-radius: 5%;
  }

  a:hover {
    background-color: #cfe6e3;
  }
}

.popup {
  @include PopUp;
}

// using loop 
$table-selector: table ; // Replace with your actual table selector

// Loop through all rows (tr)
@each $row in (tr) {
  #{$table-selector} #{$row} {
    font-weight: bold;
  }
}
