@use "./base";
@use "./table";
@use "./icon";
@use "./checkbox";
@use "./Direction";

.button-45 {
  align-items: center;
  border-radius: 11px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  padding: 2px 12px;
  margin-bottom: 15px;
}

/* styling popup */
@mixin PopUp {
  display: none;
  position: absolute;
  padding: 10px;
  border-radius: 5%;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 2px;
  }

  a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5%;
  }
}

.popup {
  @include PopUp;
}

// using loop
$table-selector: table;

// Loop through all rows (tr)
@each $row in (tr) {
  #{$table-selector} #{$row} {
    font-weight: bold;
  }
}
